<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Real-Time-Pizza App</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <nav class="mx-auto flex items-center justify-between py-4 px-6 bg-white shadow">
    <div>
      <img src="https://media.istockphoto.com/id/503818102/photo/mediterranean-pizza.jpg?s=1024x1024&w=is&k=20&c=KcMHR_aWxtBBuSC0gp0ccvT7EAYIxV6SGg7qTeHxrBg=" alt="logo" class="h-10">
    </div>
    <div>
      <ul class="flex items-center">
        <li class="ml-6"><a href="#" class="text-gray-700 hover:text-red-500">Offers</a></li>
        <li class="ml-6"><a href="#" class="text-gray-700 hover:text-red-500">Register</a></li>
        <li class="ml-6"><a href="#" class="text-gray-700 hover:text-red-500">Menu</a></li>
        <li class="ml-6"><a href="#" class="text-gray-700 hover:text-red-500">Login</a></li>
        <li class="ml-6">
          <a href="#" class="inline-block px-4 py-2 rounded-full">
            <img src="https://images.unsplash.com/photo-1669296585183-1c58af09f33c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cGl6emElMjBjYXJ0fGVufDB8fDB8fHww" alt="cart" class="h-6">
          </a>
        </li>
      </ul>
    </div>
  </nav>
<section class="hero py-16">
  <div class="mx-auto  flex items-center justify-between">
    <div class="w-1/2">
      <h6 class="text-lg my-6"><em>Are you hungry?</em></h6>
      <h1 class="text-6xl font-bold">Don't Wait !</h1>
    </div>
    <div class="w-1/2">
      <img src="https://media.istockphoto.com/id/503818102/photo/mediterranean-pizza.jpg?s=1024x1024&w=is&k=20&c=KcMHR_aWxtBBuSC0gp0ccvT7EAYIxV6SGg7qTeHxrBg=" alt="">
    </div>
  </div>
</section>
<section class="menu container mxx-auto py-8 ">
  <h1 class="text-xl font-bold mb-8">All Pizas</h1>
<div class=" grid  grid-cols-4 col-gap-12  row-gap-16 ">
  <div class="w-64">
    <img class="h-40 mb-4 mx-auto" src="https://media.istockphoto.com/id/503818102/photo/mediterranean-pizza.jpg?s=1024x1024&w=is&k=20&c=KcMHR_aWxtBBuSC0gp0ccvT7EAYIxV6SGg7qTeHxrBg=" alt="">
    <div class="text-center">
      <h2 class="mb-4 text-lg ">Margherite</h2>
      <span class="size  py-1 px-4  rounded-full uppercase text-sm ">Small</span>
      <div class="flex items-center justify-around mt-6 ">
        <span class="font-bold text-lg">Rs 250</span>
        <button class="cart  py-1 px-6  rounded-full flex items-center font-bold">
          <span>+</span>
          <span class="ml-4">Add</span>
        </button>
      </div>
    </div>
  </div>
    <div class="w-64">
    <img class="h-40 mb-4 mx-auto" src="https://media.istockphoto.com/id/503818102/photo/mediterranean-pizza.jpg?s=1024x1024&w=is&k=20&c=KcMHR_aWxtBBuSC0gp0ccvT7EAYIxV6SGg7qTeHxrBg=" alt="">
    <div class="text-center">
      <h2 class="mb-4 text-lg ">Margherite</h2>
      <span class="size  py-1 px-4  rounded-full uppercase text-sm ">Small</span>
      <div class="flex items-center justify-around mt-6 ">
        <span class="font-bold text-lg">Rs 250</span>
        <button class="cart  py-1 px-6  rounded-full flex items-center font-bold">
          <span>+</span>
          <span class="ml-4">Add</span>
        </button>
      </div>
    </div>
  </div>
    <div class="w-64">
    <img class="h-40 mb-4 mx-auto" src="https://media.istockphoto.com/id/503818102/photo/mediterranean-pizza.jpg?s=1024x1024&w=is&k=20&c=KcMHR_aWxtBBuSC0gp0ccvT7EAYIxV6SGg7qTeHxrBg=" alt="">
    <div class="text-center">
      <h2 class="mb-4 text-lg ">Margherite</h2>
      <span class="size  py-1 px-4  rounded-full uppercase text-sm ">Small</span>
      <div class="flex items-center justify-around mt-6 ">
        <span class="font-bold text-lg">Rs 250</span>
        <button class="cart  py-1 px-6  rounded-full flex items-center font-bold">
          <span>+</span>
          <span class="ml-4">Add</span>
        </button>
      </div>
    </div>
  </div>
    <div class="w-64">
    <img class="h-40 mb-4 mx-auto" src="https://media.istockphoto.com/id/503818102/photo/mediterranean-pizza.jpg?s=1024x1024&w=is&k=20&c=KcMHR_aWxtBBuSC0gp0ccvT7EAYIxV6SGg7qTeHxrBg=" alt="">
    <div class="text-center">
      <h2 class="mb-4 text-lg ">Margherite</h2>
      <span class="size  py-1 px-4  rounded-full uppercase text-sm ">Small</span>
      <div class="flex items-center justify-around mt-6 ">
        <span class="font-bold text-lg">Rs 250</span>
        <button class="cart  py-1 px-6  rounded-full flex items-center font-bold">
          <span>+</span>
          <span class="ml-4">Add</span>
        </button>
      </div>
    </div>
  </div>
    <div class="w-64">
    <img class="h-40 mb-4 mx-auto" src="https://media.istockphoto.com/id/503818102/photo/mediterranean-pizza.jpg?s=1024x1024&w=is&k=20&c=KcMHR_aWxtBBuSC0gp0ccvT7EAYIxV6SGg7qTeHxrBg=" alt="">
    <div class="text-center">
      <h2 class="mb-4 text-lg ">Margherite</h2>
      <span class="size  py-1 px-4  rounded-full uppercase text-sm ">Small</span>
      <div class="flex items-center justify-around mt-6 ">
        <span class="font-bold text-lg">Rs 250</span>
        <button class="cart  py-1 px-6  rounded-full flex items-center font-bold">
          <span>+</span>
          <span class="ml-4">Add</span>
        </button>
      </div>
    </div>
  </div>
    <div class="w-64">
    <img class="h-40 mb-4 mx-auto" src="https://media.istockphoto.com/id/503818102/photo/mediterranean-pizza.jpg?s=1024x1024&w=is&k=20&c=KcMHR_aWxtBBuSC0gp0ccvT7EAYIxV6SGg7qTeHxrBg=" alt="">
    <div class="text-center">
      <h2 class="mb-4 text-lg ">Margherite</h2>
      <span class="size  py-1 px-4  rounded-full uppercase text-sm ">Small</span>
      <div class="flex items-center justify-around mt-6 ">
        <span class="font-bold text-lg">Rs 250</span>
        <button class="cart  py-1 px-6  rounded-full flex items-center font-bold">
          <span>+</span>
          <span class="ml-4">Add</span>
        </button>
      </div>
    </div>
  </div>
    <div class="w-64">
    <img class="h-40 mb-4 mx-auto" src="https://media.istockphoto.com/id/503818102/photo/mediterranean-pizza.jpg?s=1024x1024&w=is&k=20&c=KcMHR_aWxtBBuSC0gp0ccvT7EAYIxV6SGg7qTeHxrBg=" alt="">
    <div class="text-center">
      <h2 class="mb-4 text-lg ">Margherite</h2>
      <span class="size  py-1 px-4  rounded-full uppercase text-sm ">Small</span>
      <div class="flex items-center justify-around mt-6 ">
        <span class="font-bold text-lg">Rs 250</span>
        <button class="cart  py-1 px-6  rounded-full flex items-center font-bold">
          <span>+</span>
          <span class="ml-4">Add</span>
        </button>
      </div>
    </div>
  </div>
    <div class="w-64">
    <img class="h-40 mb-4 mx-auto" src="https://media.istockphoto.com/id/503818102/photo/mediterranean-pizza.jpg?s=1024x1024&w=is&k=20&c=KcMHR_aWxtBBuSC0gp0ccvT7EAYIxV6SGg7qTeHxrBg=" alt="">
    <div class="text-center">
      <h2 class="mb-4 text-lg ">Margherite</h2>
      <span class="size  py-1 px-4  rounded-full uppercase text-sm ">Small</span>
      <div class="flex items-center justify-around mt-6 ">
        <span class="font-bold text-lg">Rs 250</span>
        <button class="cart  py-1 px-6  rounded-full flex items-center font-bold">
          <span>+</span>
          <span class="ml-4">Add</span>
        </button>
      </div>
    </div>
  </div>
   
   
  
</div>
</section>
  <script src="/js/app.js"></script>
</body>
</html>

